.coupon {
    border-radius: 12px;
    box-shadow: black 5px 5px 30px -15px;
    border-radius: 15px;
}

.code:hover {
    background: green;
    color: #fff;
    cursor: pointer
}

.border-right {
    display: flex;
    align-self: center;
}
